<div class="p-10">
    <div class="w-full text-blue-700/80 font-bold text-3xl flex">
      <i class="fa-solid fa-user-plus mr-2"></i>
      <h1>Add New Student</h1>
    </div>
    <hr class="w-full text-slate-300 shadow-md border-[0.5px] my-6">


    <form class="w-full">

      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">First Name*</h4>
          <input class="p-2 w-full border border-slate-300 rounded-md"/>
        </div>
        <div class="w-full">
          <h4 class="p-2">Last Name*</h4>
          <input class="p-2 w-full border border-slate-300 rounded-md"/>
        </div>
      </div>

      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Email ID*</h4>
          <input class="p-2 w-full border border-slate-300 rounded-md"/>
        </div>
        <div class="w-full">
          <h4 class="p-2">Phone Number</h4>
          <input class="p-2 w-full border border-slate-300 rounded-md"/>
        </div>
      </div>

      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Course*</h4>
          <select class="p-2 w-full border border-slate-300 rounded-md">
            <option>Select a course</option>
            <option>Computer Science</option>
            <option>Business Administration</option>
            <option>Engineering</option>
            <option>Medicine</option>
            <option>Arts</option>
          </select>
        </div>
        <div class="w-full">
          <h4 class="p-2">Grade*</h4>
          <input type="number" class="p-2 w-full border border-slate-300 rounded-md"/>
        </div>
      </div>
      
      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Date of Birth</h4>
          <input type="date" class="p-2 w-full border border-slate-300 rounded-md"/>
        </div>
        <div class="w-full">
          <h4 class="p-2">Status</h4>
          <select class="p-2 w-full border border-slate-300 rounded-md">
            <option>Active</option>
            <option>Inactive</option>
            <option>Graduated</option>
          </select>
        </div>
      </div>
      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Address*</h4>
          <input class="p-2 w-full h-[80px] border border-slate-300 rounded-md"/>
        </div>
      </div>
    </form>
    <div class=" flex gap-4">
      <button class="bg-blue-600 text-white p-2 border border-blue-700 rounded-md">
        <i class="fa-solid fa-floppy-disk mr-2"></i>
        Save student
      </button>
      <button class="bg-slate-300 p-2 border border-slate-300 rounded-md">
        <i class="fa-solid fa-rotate-left mr-2"></i>
        Reset Form</button>
    </div>
</div>
