<div class="p-10">
  <!-- Heading -->
  <div class="w-full flex">
    <div class="text-blue-700/80 font-bold text-3xl flex">
      <i class="fa-solid fa-gear mr-2"></i>
      <h1>System Settings</h1>
    </div>
  </div>
  <hr class="w-full text-slate-300 shadow-md border-[0.5px] my-6">

  <!-- Institution Information -->
  <div class="my-5 p-5 w-full border border-slate-300 rounded-md">
    <div class="flex pb-5">
      <i class="fa-solid fa-building-columns mr-2 font-bold text-xl"></i>
      <h1 class="font-bold text-xl">Institution Information</h1>
    </div>
    <label>Institution Name</label>
    <input [value] = "settings.institution" class="w-full h-[40px] p-2 border border-slate-300 rounded-md"/>
    <div class="flex py-5 flex justify-between">
      <div class="w-[430px]">
        <h1>Email Id</h1>
        <input [value]="settings.email" class="w-full h-[40px] p-2 border border-slate-300 rounded-md"/>
      </div>
      <div class="w-[430px]">
        <h1>Phone Number</h1>
        <input [value]="settings.phone" class="w-full h-[40px] p-2 border border-slate-300 rounded-md"/>
      </div>
    </div>
    <label class="pb-5">Address</label>
    <textarea [value]="settings.address" class="h-[80px] w-full p-2 border border-slate-300 rounded-md"></textarea>
  </div>
  <!-- Academic Settings -->
   <div class="my-5 p-5 w-full border border-slate-300 rounded-md">
    <div class="flex pb-5">
      <i class="fa-solid fa-graduation-cap mr-2 font-bold text-xl"></i>
      <h1 class="font-bold text-xl">Academic Settings</h1>
    </div>
    <div class="flex py-5 flex justify-between">
      <div class="w-[430px]">
        <h1>Current Semester</h1>
        <select [value]="settings.currentSemester" class="w-full h-[40px] p-2 border border-slate-300 rounded-md">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
      </div>
      <div class="w-[430px]">
        <h1>Academic Year</h1>
        <select [value]="settings.currentYear" class="w-full h-[40px] p-2 border border-slate-300 rounded-md">
          <option>2021-2022</option>
          <option>2022-2023</option>
          <option>2023-2024</option>
          <option>2024-2025</option>
        </select>
      </div>
    </div>
    <div class="flex py-5 flex justify-between">
      <div class="w-[430px]">
        <h1>Passing Grade</h1>
        <input [value]="settings.passingGrade" class="w-full h-[40px] p-2 border border-slate-300 rounded-md"/>
      </div>
      <div class="w-[430px]">
        <h1>Min. Attendance Required</h1>
        <input [value]="settings.minAttendance" class="w-full h-[40px] p-2 border border-slate-300 rounded-md"/>
      </div>
    </div>
  </div>
  <!-- Notification Settings -->
  <div class="my-5 p-5 w-full border border-slate-300 rounded-md">
    <div class="flex pb-5">
      <i class="fa-solid fa-bell mr-2 font-bold text-xl"></i>
      <h1 class="font-bold text-xl">Notification Settings</h1>
    </div>

    <div class="px-5 pb-3 flex">
      <input type="checkbox" [checked]="settings.notifications.email" class="scale-200 mr-6"/>
      <div>
        <h1 class="font-bold">Email Notifications</h1>
        <label class="text-[15px] text-slate-500">Receive email updates for important events</label>
      </div>
    </div>
    <hr class="w-full text-slate-300 shadow-md border-[0.5px] mb-10">

    <div class="px-5 pb-3 flex">
      <input type="checkbox" [checked]="settings.notifications.grade" class="scale-200 mr-6"/>
      <div>
        <h1 class="font-bold">Grade Updates</h1>
        <label class="text-[15px] text-slate-500">Notify when grades are posted or updated</label>
      </div>
    </div>
    <hr class="w-full text-slate-300 border-[0.1px] mb-10">

    <div class="px-5 pb-3 flex">
      <input type="checkbox" class="scale-200 mr-6"/>
      <div>
        <h1 class="font-bold">Grade Updates</h1>
        <label class="text-[15px] text-slate-500">Notify when grades are posted or updated</label>
      </div>
    </div>

  </div>

  <!-- Data Management -->
  <div class="my-5 p-5 w-full border border-slate-300 rounded-md">
    <div class="flex pb-5">
      <i class="fa-solid fa-database mr-2 font-bold text-xl"></i>
      <h1 class="font-bold text-xl">Data Management</h1>
    </div>
    <div class="flex gap-3">
      <button class="bg-blue-600/90 text-white p-2 px-2 border border-white rounded-md">
        <i class="fa-solid fa-download"></i>
        Export all data
      </button>
      <button class="bg-gray-600/90 text-white p-2 px-2 border border-white rounded-md">
        <i class="fa-solid fa-download"></i>
        Create backup
      </button>
      <button class="bg-red-600/90 text-white p-2 px-2 border border-white rounded-md">
        <i class="fa-solid fa-download"></i>
        Clear all data
      </button>
    </div>
  </div>
  <div class="flex w-full justify-center">
    <button class="bg-blue-600/90 text-white text-xl p-3 px-5 border border-white rounded-md">
      Save
    </button>
  </div>
</div>