<div class="bg-slate-300/20">
  <div class="bg-gradient-to-r from-blue-700 via-indigo-700 to-indigo-800 w-full h-[180px]">
    <div class="flex items-center justify-center gap-5 h-full">
      <img src="cap.png" class="h-[70px]"/>
      <h1 class="text-3xl text-white font-bold">
        Student Management System
      </h1>
      <div class="bg-white/20 border-violet-500 rounded-2xl p-3 w-[140px] h-[100px] ml-70">
        <h1 class="text-3xl text-white flex font-bold justify-center py-2">5</h1>
        <h2 class="text-white flex justify-center">Students</h2>
      </div>
      <div class="bg-white/20 border-violet-500 rounded-2xl p-3 w-[140px] h-[100px]">
        <h1 class="text-3xl text-white flex font-bold justify-center py-2">3</h1>
        <h2 class="text-white flex justify-center">Active Students</h2>
      </div>
      <div class="bg-white/20 border-violet-500 rounded-2xl p-3 w-[140px] h-[100px]">
        <h1 class="text-3xl text-white flex font-bold justify-center py-2">87.5</h1>
        <h2 class="text-white flex justify-center">Avg. Grade</h2>
      </div>
    </div>
  </div>
</div>