<div class="p-10">
  <!-- Student Records -->
  <div class="w-full flex justify-between">
    <div class="text-blue-700/80 font-bold text-3xl flex">
      <i class="fa-solid fa-users mr-2"></i>
      <h1>Student Records</h1>
    </div>
    <form action="/search" method="get">
      <input type="search" id="site-search" name="q" placeholder="Search students..." class="w-[260px]"/>
      <button class="bg-blue-700/80 text-white text-[14px] p-3 border rounded-md"><i class="fa-solid fa-rotate text-white text-[14px] p-[1px] mr-2 border border-blue-700/10 rounded-md"></i>Refresh</button>
    </form>
  </div>
  <hr class="w-full text-slate-300 shadow-md border-[0.5px] my-6">

  <!-- List -->

  <table class="w-full">
    <thead class="table-header">
      <th class="table-cell">ID</th>
      <th class="table-cell">Name</th>
      <th class="table-cell">Email</th>
      <th class="table-cell">Course</th>
      <th class="table-cell">Grade</th>
      <th class="table-cell">Status</th>
      <th class="table-cell">Actions</th>
    </thead>

    <tbody class="text-[15px]">
      <tr *ngFor="let student of students" class="py-40 border-b border-slate-300">
        <td class="py-4 pl-4">{{ student.id }}</td>
        <td class="py-4 pl-8">{{ student.name }}</td>
        <td class="py-4 pl-8">{{ student.email }}</td>
        <td class="py-4 pl-8">{{ student.course }}</td>
        <td class="py-4 pl-8">{{ student.grade }}</td>
        <td>
          <div class="rounded-[15px] text-[14px] p-[5px] flex justify-center"
          [ngClass]="{
            'bg-red-400/20 w-auto text-red-950/80': student.status === 'Inactive', 
            'bg-green-400/20 w-auto text-green-950/80': student.status === 'Active'|| student.status === 'Graduated'
          }">
            {{ student.status }}
          </div>
        </td>
        <td class="flex items-center justify-center gap-2 px-4 py-4">
          <button class="bg-cyan-500/80 w-[80px] p-2 text-white border rounded-md cursor-pointer">
            <i class="fa-solid fa-eye"></i>
            View
          </button>
          <button class="bg-orange-400 w-[80px] p-2 text-white border rounded-md cursor-pointer">
            <i class="fa-solid fa-pen-to-square"></i>
            Edit
          </button>
          <button class="bg-red-600/80 w-[90px] p-2 text-white border rounded-md cursor-pointer">
            <i class="fa-solid fa-trash"></i>
            Delete
          </button>
        </td>
      </tr>
    </tbody>

  </table>

</div>
