<nav>
  <ul class="text-black text-[16px] p-[0px]">
    
    <li class="gap-[12px]">
      <a 
      routerLink="/dashboard" routerLinkActive="bg-blue-700/90 text-white"
      [routerLinkActiveOptions]="{ exact: true }" 
      class="flex items-center px-2 py-4 rounded-md hover:bg-slate-300/20 hover:text-black cursor-pointer">
        <i class="fas fa-tachometer-alt text-[20px] mr-2"></i>
        Dashboard
      </a>
    </li>

    <li class="gap-[12px]">
      <a 
      routerLink="/students" routerLinkActive="bg-blue-700/90 text-white"
      class="flex items-center px-2 py-4 rounded-md hover:bg-slate-300/20 hover:text-black cursor-pointer">
        <i class="fa-solid fa-users text-[20px] mr-2"></i>
        Students
      </a>
    </li>

    <li class="gap-[12px]">
      <a 
      routerLink="/add-student" routerLinkActive="bg-blue-700/90 text-white" 
      class="flex items-center px-2 py-4 rounded-md hover:bg-slate-300/20 hover:text-black cursor-pointer">
        <i class="fa-solid fa-user-plus text-[20px] mr-2"></i>
        Add Students
      </a>
    </li>

    <li class="gap-[12px]">
      <a 
      routerLink="/courses" routerLinkActive="bg-blue-700/90 text-white"
      class="flex items-center px-2 py-4 rounded-md hover:bg-slate-300/20 hover:text-black cursor-pointer">
        <i class="fa-solid fa-book text-[20px] mr-2"></i>
        Courses
      </a>
    </li>

    <li class="gap-[12px]">
      <a 
      routerLink="/grades" routerLinkActive="bg-blue-700/90 text-white"
      class="flex items-center px-2 py-4 rounded-md hover:bg-slate-300/20 hover:text-black cursor-pointer">
        <i class="fa-solid fa-chart-bar text-[20px] mr-2"></i>
        Grades
      </a>
    </li>

    <li class="gap-[12px]">
      <a 
      routerLink="/attendance" routerLinkActive="bg-blue-700/90 text-white"
       class="flex items-center px-2 py-4 rounded-md hover:bg-slate-300/20 hover:text-black cursor-pointer">
        <i class="fa-solid fa-calendar-check text-[20px] mr-2"></i>
        Attendance
      </a>
    </li>

    <li class="gap-[12px]">
      <a 
      routerLink="/system" routerLinkActive="bg-blue-700/90 text-white"
       class="flex items-center px-2 py-4 rounded-md hover:bg-slate-300/20 hover:text-black cursor-pointer">
        <i class="fa-solid fa-gear text-[20px] mr-2"></i>
        Settings
      </a>
    </li>

  </ul>
</nav>

