<div class="p-10">
  <div class="w-full flex">
    <div class="text-blue-700/80 font-bold text-3xl flex">
      <i class="fa-solid fa-calendar-check mr-2"></i>
      <h1>Attendance Tracking</h1>
    </div>
    <button class="text-white bg-blue-600 ml-auto border border-slate-300 rounded-md p-3 cursor-pointer">
      <i class="fa-solid fa-circle-check"></i>
      Mark today's attendance
    </button>
  </div>
  <hr class="w-full text-slate-300 shadow-md border-[0.5px] my-6">

  <form class="w-full">

    <div class="w-full gap-8 mb-7 flex justify-between">
      <div class="w-full">
        <h4 class="p-2">Select Date</h4>
        <input type="date" class="p-2 w-full border border-slate-300 rounded-md"/>
      </div>

      <div class="w-full">
        <h4 class="p-2">Filter by course</h4>
        <select class="p-2 w-full border border-slate-300 rounded-md">
          <option>Select a course</option>
          <option>Computer Science</option>
          <option>Business Administration</option>
          <option>Engineering</option>
          <option>Medicine</option>
          <option>Arts</option>
        </select>
      </div>
    </div>
  </form>

  <table class="w-full my-10">
    <thead class="table-header">
      <th class="table-cell">Student ID</th>
      <th class="table-cell">Name</th>
      <th class="table-cell">Course</th>
      <th class="table-cell">Attendance Rate</th>
      <th class="table-cell">Total Classes</th>
      <th class="table-cell">Present</th>
      <th class="table-cell">Absent</th>
      <th class="table-cell">Status</th>
    </thead>

    <tbody class="text-[15px]"></tbody>
  </table>

  <div class="bg-sky-300/10 p-5 border border-sky-300/10 rounded-md">
    <h3 class="text-xl font-bold pb-5">Attendance Summary</h3>
    <div class="flex justify-between">
      <div class="bg-white w-[430px] border border-white rounded-md flex items-center justify-center flex-col">
        <i class="fa-solid fa-user-check text-green-500 text-4xl py-3"></i>
        <p class="font-bold pb-3">Excellent (&gt;90%)</p>
        <h2 class="text-3xl font-bold p-3">0</h2>
      </div>
      <div class="bg-white w-[430px] border border-white rounded-md flex items-center justify-center flex-col">
        <i class="fa-solid fa-user-clock text-amber-500 text-4xl p-3"></i>
        <p class="font-bold p-3">Needs Attention (&lt;75%) </p>
        <h2 class="text-3xl font-bold p-3">0</h2>
      </div>
    </div>
  </div>
</div>
