<div class="p-10">
  <!-- Content -->
  <div class="w-full flex">
    <div class="text-blue-700/80 font-bold text-3xl flex">
      <i class="fas fa-tachometer-alt mr-2"></i>
      <h1>Dashboard Overview</h1>
    </div>
    <select class="ml-auto border border-slate-300 rounded-md p-3">
        <option>This month</option>
        <option>Last month</option>
        <option>This semester</option>
    </select>
  </div>
  <hr class="w-full text-slate-300 shadow-md border-[0.5px] my-6">
  <!-- Notifications -->
  <div class="flex justify-between">
    <!-- Recent Activities -->
    <div class="w-[500px] bg-indigo-400/15 p-5 ml-15 border rounded-md border-indigo-400/15">
      <h3 class="text-[20px] font-bold mb-7">Recent Activities</h3>
      <div class="flex py-3">
        <i class="fa-solid fa-user-plus text-[16px] text-green-400 mr-2"></i>
        <h4 class="text-[16px]">New student added: John Doe</h4>
      </div>
      <hr class="text-slate-300">
      <div class="flex py-3">
        <i class="fa-solid fa-pen-to-square text-[16px] text-orange-400 mr-2"></i>
        <h4 class="text-[16px]">Student record updated: Jane Smith</h4>
      </div>
      <hr class="text-slate-300">
      <div class="flex py-3">
        <i class="fa-solid fa-chart-line text-[16px] text-blue-600 mr-2"></i>
        <h4 class="text-[16px]">Monthly report generated</h4>
      </div>
    </div>
    <!-- Upcoming Events -->
    <div class="w-[500px] bg-green-400/15 p-5 mr-15 border rounded-md border-green-400/15">
      <h3 class="text-[20px] font-bold mb-7">Upcoming Events</h3>
      <div class="flex py-3">
        <h4 class="text-[16px]"><span class="font-bold">Midterm Exams:</span> Next week</h4>
      </div>
      <hr class="text-slate-300">
      <div class="flex py-3">
        <h4 class="text-[16px]"><span class="font-bold">Parent-Teacher Meeting:</span> March 25</h4>
      </div>
      <hr class="text-slate-300">
      <div class="flex py-3">
        <h4 class="text-[16px]"><span class="font-bold">Semester Break:</span> April 10-20</h4>
      </div>
    </div>
  </div>
  <!-- Top Performing Students -->
  <div class="w-full mt-20">
    <h3 class="text-[22px] font-bold mb-3">Top Performing Students</h3>
    <table class="w-full">
      <thead class="table-header">
        <tr>
          <th class="table-cell">ID</th>
          <th class="table-cell">Name</th>
          <th class="table-cell">Course</th>
          <th class="table-cell">Grade</th>
          <th class="table-cell">Status</th>
        </tr>
      </thead>

      <tbody class="text-[16px]">
        <tr *ngFor="let student of tops" class="border-b border-slate-300">

          <td class="py-4 pl-10">{{ student.student_id }}</td>
          <td class="py-4 pl-8">{{ student.name }}</td>
          <td class="py-4 pl-8">{{ student.course || '—' }}</td>
          <td class="py-4 pl-8">{{ student.grade === '0.00' ? '—' : student.grade }}</td>

          <td class="pl-10">
            <button
              class="rounded-[15px] text-[14px] p-[6px] mx-1"
                [ngClass]="{
                  'bg-green-400/20 text-green-950/80':
                    student.status === 'Active' ,
                  'bg-blue-400/20 text-blue-950/80':
                    student.status === 'Graduated',
                  'bg-red-400/20 text-red-950/80':
                    student.status === 'Inactive'
                }"
            >
              {{ student.status }}
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>