<div class="p-10">
  <div class="w-full flex">
    <div class="text-blue-700/80 font-bold text-3xl flex">
      <i class="fa-solid fa-calendar-check mr-2"></i>
      <h1>Attendance Tracking</h1>
    </div>
    <button
      class="text-white bg-blue-600 ml-auto border border-slate-300 rounded-md p-3 cursor-pointer"
      (click)="navigateToAttendanceMarking()"
    >
      <i class="fa-solid fa-circle-check"></i>
      Mark today's attendance
    </button>
  </div>
  <hr class="w-full text-slate-300 shadow-md border-[0.5px] my-6">

  <form class="w-full">

    <div class="w-full gap-8 mb-7 flex justify-between">
      <!-- <div class="w-full">
        <h4 class="p-2">Select Date</h4>
        <input type="date" class="p-2 w-full border border-slate-300 rounded-md"/>
      </div> -->

      <div class="w-full">
        <h4 class="p-2">Filter by course</h4>
        <select
          name="course"
          [(ngModel)]="selectedCourse"
          (change)="applyFilters()"
          class="p-2 w-full border rounded-md"
        >
          <option value="">All Courses</option>
          <option *ngFor="let c of courses" [value]="c">
            {{ c }}
          </option>
        </select>
      </div>
    </div>
  </form>

  <table class="w-full my-10">
    <thead class="table-header">
      <th class="table-cell">Student ID</th>
      <th class="table-cell">Name</th>
      <th class="table-cell">Course</th>
      <th class="table-cell">Attendance Rate</th>
      <th class="table-cell">Total Classes</th>
      <th class="table-cell">Present</th>
      <th class="table-cell">Absent</th>
      <th class="table-cell">Status</th>
    </thead>

    <tbody>
      <tr *ngFor="let a of filteredAttendance" class="border-b border-slate-300">
        <td class="py-4 pl-12">{{ a.student_id }}</td>
        <td class="py-4 pl-14">{{ a.student_name }}</td>
        <td class="py-4 pl-14">{{ a.course_name }}</td>
        <td class="py-4 pl-20">{{ a.attendance_rate }}%</td>
        <td class="py-4 pl-18">{{ a.total_classes }}</td>
        <td class="py-4 pl-10">{{ a.present }}</td>
        <td class="py-4 pl-10">{{ a.absent }}</td>
        <td class="py-4 px-4 text-center">
          <div>
            <span
              class="px-3 py-1 rounded-xl"
              [ngClass]="{
                'bg-green-200 text-green-800': a.attendance_rate >= 90,
                'bg-yellow-200 text-yellow-800': a.attendance_rate < 90 && a.attendance_rate >= 75,
                'bg-red-200 text-red-800': a.attendance_rate < 75
              }"
            >
              {{ a.attendance_status }}
            </span>
          </div>

        </td>
      </tr>
      <tr *ngIf="filteredAttendance.length === 0">
        <td colspan="7" class="text-center text-slate-500 py-10">
          No attendance records found.
        </td>
      </tr>
    </tbody>
  </table>

  <div class="bg-sky-300/10 p-5 border border-sky-300/10 rounded-md">
    <h3 class="text-xl font-bold pb-5">Attendance Summary</h3>
    <div class="flex justify-between">
      <div class="bg-white w-[390px] border border-white rounded-md flex items-center justify-center flex-col">
        <i class="fa-solid fa-person-circle-check text-green-500 text-4xl py-3"></i>
        <p class="font-bold pb-3">Excellent (&equals;90%)</p>
        <h2 class="text-3xl font-bold p-3">{{ excellentCount }}</h2>
      </div>
      <div class="bg-white w-[390px] border border-white rounded-md flex items-center justify-center flex-col">
        <i class="fa-solid fa-person-circle-check text-yellow-500 text-4xl p-3"></i>
        <p class="font-bold p-3">Good (&gt;&equals;75%) </p>
        <h2 class="text-3xl font-bold p-3">{{ goodCount}}</h2>
      </div>
      <div class="bg-white w-[390px] border border-white rounded-md flex items-center justify-center flex-col">
        <i class="fa-solid fa-person-circle-exclamation text-red-500 text-4xl p-3"></i>
        <p class="font-bold p-3">Needs Attention (&lt;75%) </p>
        <h2 class="text-3xl font-bold p-3">{{ needsAttentionCount}}</h2>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="text-center text-slate-500 py-10">
    Loading attendance records...
  </div>
</ng-template>
