<div class="p-10">
  <!-- Content -->
  <div class="w-full flex">
    <div class="text-blue-700/80 font-bold text-3xl flex">
      <i class="fa-solid fa-book mr-2"></i>
      <h1>Course Management</h1>
    </div>
    <button class="text-white bg-blue-600 ml-auto border border-slate-300 rounded-md p-3 cursor-pointer">
      <i class="fa-solid fa-plus"></i>
      Add Course
    </button>
  </div>
  <hr class="w-full text-slate-300 shadow-md border-[0.5px] my-6">
  <table class="w-full">
    <thead class="bg-blue-600 text-white text-[18px]">
      <th class="text-left py-4 pl-2 px-2">Course Code</th>
      <th class="text-left py-4 px-2">Course Name</th>
      <th class="text-left py-4 px-2">Instructor</th>
      <th class="text-left py-4 px-2">Student Enrolled</th>
      <th class="text-left py-4 px-2">Schedule</th>
      <th class="text-left py-4 pr-2 px-2">Actions</th>
    </thead>

    <tbody class="text-[15px]">
      <tr class="py-40 border-b border-slate-300">
        <td class="py-4 pl-4">4CS101</td>
        <td class="py-4 pl-8">Introduction to Programming</td>
        <td class="py-4 pl-8">Dr. Alan Smith</td>
        <td class="py-4 pl-8">45</td>
        <td class="py-4 pl-8">Mon/Wed 10:00 AM</td>
        <td class="flex items-center justify-center gap-2 px-4 py-4">
          <button class="bg-cyan-500/80 w-[80px] p-2 text-white border rounded-md cursor-pointer">
            <i class="fa-solid fa-eye"></i>
            View
          </button>
          <button class="bg-orange-400 w-[80px] p-2 text-white border rounded-md cursor-pointer">
            <i class="fa-solid fa-pen-to-square"></i>
            Edit
          </button>
        </td>
      </tr>

      <tr class="py-40 border-b border-slate-300">
        <td class="py-4 pl-4">BUS202</td>
        <td class="py-4 pl-8">Business Management</td>
        <td class="py-4 pl-8">Prof. Sarah Johnson</td>
        <td class="py-4 pl-8">38</td>
        <td class="py-4 pl-8">Tue/Thu 2:00 PM</td>
        <td class="flex items-center justify-center gap-2 px-4 py-4">
          <button class="bg-cyan-500/80 w-[80px] p-2 text-white border rounded-md cursor-pointer">
            <i class="fa-solid fa-eye"></i>
            View
          </button>
          <button class="bg-orange-400 w-[80px] p-2 text-white border rounded-md cursor-pointer">
            <i class="fa-solid fa-pen-to-square"></i>
            Edit
          </button>
        </td>
      </tr>
      
      <tr class="py-40 border-b border-slate-300">
        <td class="py-4 pl-4">ENG150</td>
        <td class="py-4 pl-8">Engineering Principles</td>
        <td class="py-4 pl-8">Dr. Robert Chen</td>
        <td class="py-4 pl-8">52</td>
        <td class="py-4 pl-8">Mon/Fri 9:00 AM</td>
        <td class="flex items-center justify-center gap-2 px-4 py-4">
          <button class="bg-cyan-500/80 w-[80px] p-2 text-white border rounded-md cursor-pointer">
            <i class="fa-solid fa-eye"></i>
            View
          </button>
          <button class="bg-orange-400 w-[80px] p-2 text-white border rounded-md cursor-pointer">
            <i class="fa-solid fa-pen-to-square"></i>
            Edit
          </button>
        </td>
      </tr>
      
    </tbody>
  </table>