<div class="p-10">
    <div class="w-full text-blue-700/80 font-bold text-3xl flex">
      <i class="fa-solid fa-user-plus mr-2"></i>
      <h1>Add New Student</h1>
    </div>
    <hr class="w-full text-slate-300 shadow-md border-[0.5px] my-6">


    <!-- <form class="w-full" (ngSubmit)="onSubmit()"> -->
    <!-- <form (ngSubmit)="onSubmit()" #studentForm="ngForm"> -->
    <form (ngSubmit)="onSubmit()" #studentForm="ngForm">

      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">First Name*</h4>
          <input
            name="first_name"
            [(ngModel)]="student.first_name"
            class="p-2 w-full border border-slate-300 rounded-md" 
            required />
        </div>
        <div class="w-full">
          <h4 class="p-2">Last Name*</h4>
          <input
            name="last_name"
            [(ngModel)]="student.last_name"
            class="p-2 w-full border border-slate-300 rounded-md" />
        </div>
      </div>

      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Email ID*</h4>
          <input
            name="email"
            [(ngModel)]="student.email"
            class="p-2 w-full border border-slate-300 rounded-md" 
            required />
        </div>
        <div class="w-full">
          <h4 class="p-2">Phone Number</h4>
          <input
            name="phone"
            [(ngModel)]="student.phone"
            class="p-2 w-full border border-slate-300 rounded-md" />
        </div>
      </div>

      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <label>Courses*</label>

          <input
            type="text"
            name="courseInput"
            placeholder="Type courses separated by comma"
            [(ngModel)]="courseInput"
            (input)="onCourseInput()"
            class="form-control"
          />

          <ul class="suggestions" *ngIf="filteredCourses.length">
            <li
              *ngFor="let course of filteredCourses"
              (click)="selectCourse(course)"
            >
              {{ course.course_name }}
            </li>
          </ul>

          <div class="selected-courses">
            <span *ngFor="let c of selectedCourses">
              {{ c.course_name }}
              <button type="button" (click)="removeCourse(c)">×</button>
            </span>
          </div>
        </div>
      </div>
      
      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Date of Birth</h4>
          <input
            type="date"
            name="date_of_birth" 
            [(ngModel)]="student.date_of_birth"
            class="p-2 w-full border border-slate-300 rounded-md" 
            required/>
        </div>
        <div class="w-full">
          <h4 class="p-2">Status</h4>
          <select
            name="status"
            [(ngModel)]="student.status"
            class="p-2 w-full border border-slate-300 rounded-md">

            <option>Active</option>
            <option>Inactive</option>
            <option>Graduated</option>
          </select>

        </div>
      </div>
      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Address*</h4>
          <input
            name="address"
            [(ngModel)]="student.address"
            class="p-2 w-full h-[80px] border border-slate-300 rounded-md" />
        </div>
      </div>
      <div class="pt-10 flex gap-4">
      <button
        type="submit"
        [disabled]="studentForm.invalid || selectedCourses.length === 0"
        class="bg-blue-600 text-white p-2 rounded-md disabled:opacity-50">
        Save student
      </button>

        <button
          type="reset"
          class="bg-slate-300 p-2 border border-slate-300 rounded-md">
          <i class="fa-solid fa-rotate-left mr-2"></i>
          Reset Form
        </button>
      </div>
    </form>
</div>
