<div class="p-10">
    <div class="w-full text-blue-700/80 font-bold text-3xl flex">
      <i class="fa-solid fa-user-plus mr-2"></i>
      <h1>Add New Student</h1>
    </div>
    <hr class="w-full text-slate-300 shadow-md border-[0.5px] my-6">


    <form class="w-full" (ngSubmit)="onSubmit()">

      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">First Name*</h4>
          <input
            name="first_name"
            [(ngModel)]="student.first_name"
            class="p-2 w-full border border-slate-300 rounded-md" />
        </div>
        <div class="w-full">
          <h4 class="p-2">Last Name*</h4>
          <input
            name="last_name"
            [(ngModel)]="student.last_name"
            class="p-2 w-full border border-slate-300 rounded-md" />
        </div>
      </div>

      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Email ID*</h4>
          <input
            name="email"
            [(ngModel)]="student.email"
            class="p-2 w-full border border-slate-300 rounded-md" />
        </div>
        <div class="w-full">
          <h4 class="p-2">Phone Number</h4>
          <input
            name="phone"
            [(ngModel)]="student.phone"
            class="p-2 w-full border border-slate-300 rounded-md" />
        </div>
      </div>

      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Course*</h4>
          <select
            name="course_id"
            [(ngModel)]="student.course_id"
            class="p-2 w-full border border-slate-300 rounded-md">

            <option value="">Select a course</option>
            <option value="CSE101">Computer Science</option>
            <option value="BUS202">Business Administration</option>
            <option value="ENG150">Engineering</option>
          </select>
        </div>
        <div class="w-full">
          <h4 class="p-2">Grade*</h4>
          <input
            type="number"
            name="grade_numeric"
            [(ngModel)]="student.grade_numeric"
            class="p-2 w-full border border-slate-300 rounded-md" />
        </div>
      </div>
      
      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Date of Birth</h4>
          <input
            type="date"
            name="date_of_birth"
            [(ngModel)]="student.date_of_birth"
            class="p-2 w-full border border-slate-300 rounded-md" />
        </div>
        <div class="w-full">
          <h4 class="p-2">Status</h4>
          <select
            name="status"
            [(ngModel)]="student.status"
            class="p-2 w-full border border-slate-300 rounded-md">

            <option>Active</option>
            <option>Inactive</option>
            <option>Graduated</option>
          </select>

        </div>
      </div>
      <div class="w-full gap-8 mb-7 flex justify-between">
        <div class="w-full">
          <h4 class="p-2">Address*</h4>
          <input
            name="address"
            [(ngModel)]="student.address"
            class="p-2 w-full h-[80px] border border-slate-300 rounded-md" />
        </div>
      </div>
      <div class="pt-10 flex gap-4">
        <button
          type="submit"
          class="bg-blue-600 text-white p-2 border border-blue-700 rounded-md">
          <i class="fa-solid fa-floppy-disk mr-2"></i>
          Save student
        </button>

        <button
          type="reset"
          class="bg-slate-300 p-2 border border-slate-300 rounded-md">
          <i class="fa-solid fa-rotate-left mr-2"></i>
          Reset Form
        </button>
      </div>
    </form>
</div>
