/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table-header {
  @apply bg-blue-600 text-white text-[18px];
  text-align: center;
}

.table-cell {
  @apply py-4 px-4;
  text-align: center;
}

.action-btn {
  @apply w-[80px] p-2 text-white rounded-md cursor-pointer;
}